<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Exemplos HTTP Headers</h1>
            <table>
                <thead>
                    <tr>
                        <th>Cabeçalho</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cab : ${headers}">
                        <th th:text="${cab.key}">Cab</th>
                        <td th:text="${cab.value}">Val</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
