<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 th:text="${dados.titulo}">Exemplo 02</h1>
            <p>Número: <span th:text="${dados.numero}"></span></p>
            <p>Data/hora atual: <span th:text="${dados.dataHoraAtual}">26/09/2022 21:31</span></p>
            <p>Código: <span th:text="${dados.codigo}"></span></p>
        </div>
    </body>
</html>
